################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FozzyTestTask/v16
/packages/Newtonsoft.Json.12.0.3
/FozzyTestTask/bin/Debug
/FozzyTestTask/obj/Debug
